Assignment Problems

1.

In [ ]:
def middle_value(a, b, c):
  result = sorted([a, b, c])
  return result[1]

a = 5
b = 7
c = 9

print(middle_value(5, 7, 9))

7

In [ ]:
def middle_value(a, b, c):
  result = sorted([a, b, c])
  return result[1]

a = 85
b = 73
c = 90

print(middle_value(85, 73, 90))

85

In [ ]:
def middle_value(a, b, c):
  result = sorted([a, b, c])
  return result[1]

a = 11
b = 17
c = 15

print(middle_value(11, 17, 15))

15

2.

In [12]:
def add(num1, num2):
  return (num1 + num2)
def subtract(num1, num2):
  return (num1 - num2)
def multiple(num1, num2):
  return (num1 * num2)
def divide(num1, num2):
  return (num1 / num2)


print("SELECT OPERATION")
print("1. ADDITION")
print("2. SUBTRACTION")
print("3. MULTIPLICATION")
print("4. DIVISION")

select = input("Enter choice (1/2/3/4): ")

num1 = int(input("Please, Enter the first number : "))
num2 = int(input("Please, Enter the second number : "))

if select == '1':
  print("The sum of two numbers is " ,add(num1, num2))
elif select == '2':
  print("The subtraction of two numbers is " ,subtract(num1, num2))
elif select == '3':
  print("The product of two numbers is " ,multiple(num1, num2))
elif select == '4':
  print("The division of two numbers is " ,divide(num1, num2))
else:
  print("Invalid input")

SELECT OPERATION
1. ADDITION
2. SUBTRACTION
3. MULTIPLICATION
4. DIVISION
Enter choice (1/2/3/4): 3
Please, Enter the first number : 12
Please, Enter the second number : 30
The product of two numbers is  360

3.

In [ ]:
def calculate_hypotenuse(altitude, base):
  altitude = x**2
  base = y**2

  sum_of_sqrs = altitude + base
  hypotenuse = sum_of_sqrs**0.5  # for getting the square root
  return hypotenuse

x = float(input("Enter the altitude :"))
y = float(input("Enter the base :"))

result = calculate_hypotenuse(x, y)
print("The value of the hypotenuse is :" ,result)

Enter the altitude :4
Enter the base :3
The value of the hypotenuse is : 5.0

4.

In [ ]:
def Rectangle(length, width):
  length = a
  width = b

In [ ]:
def perimeter(length, width):
    peri = (2 * (length + width))
    return peri
l = int(input("Enter the length :"))
w = int(input("Enter the width :"))

print("Perimeter of the rectangle is :")

perimeter(l, w)

Enter the length :6
Enter the width :4
Perimeter of the rectangle is :

20

In [ ]:
def area(length, width):
    area = length * width
    return area
l = int(input("Enter the length :"))
w = int(input("Enter the width :"))

print("Area of the rectangle is :")

area(l, w)

Enter the length :17
Enter the width :13
Area of the rectangle is :

221

In [ ]:
class Rectangle:
  def __init__(self,length,width):
    self.length = length
    self.width = width

  def display(self):
    perimeter = 2 * (self.length + self.width)
    area = self.length * self.width

    print(f"Length of the Rectangle is : {self.length}")
    print(f"Width of the Rectangle is : {self.width}")
    print(f"Perimeter of the Rectangle is : {perimeter}")
    print(f"Area of the Rectangle is : {area}")

my_rectangle = Rectangle(7, 12)

my_rectangle.display()

Length of the Rectangle is : 7
Width of the Rectangle is : 12
Perimeter of the Rectangle is : 38
Area of the Rectangle is : 84

5.

In [11]:
class BankAccount:
  def __init__(self, accountNumber, name, balance):
     self.accountNumber = accountNumber
     self.name = name
     self.balance = balance

  def Deposit(self, amount):
    if amount > 0:
       self.balance += amount
       print(f"Deposit of {amount} successfully made. ")
    else:
      print("Please enter a valid amount for deposit. ")
  def Withdrawal(self, amount):
    if amount <= self.balance:
      self.balance -= amount
      print(f"Withdrawal of {amount} successfully processed. ")
    else:
      print("Insufficient funds!")
  def BankFees(self):
    fee = 0.05 * self.balance
    self.balance -= fee
    print(f"Bank fee of {fee} applied. ")

  def Display(self):
    print(f"ACCOUNT NUMBER: {self.accountNumber}")
    print(f"ACCOUNT HOLDER NAME: {self.name}")
    print(f"ACCOUNT BALANCE: {self.balance}")

account = BankAccount(123456789, "Manu Das", 5000)
account.Display()

account.Deposit(10000)
account.Withdrawal(5000)
account.Display()

account.BankFees()
account.Display()

ACCOUNT NUMBER: 123456789
ACCOUNT HOLDER NAME: Manu Das
ACCOUNT BALANCE: 5000
Deposit of 10000 successfully made.
Withdrawal of 5000 successfully processed.
ACCOUNT NUMBER: 123456789
ACCOUNT HOLDER NAME: Manu Das
ACCOUNT BALANCE: 10000
Bank fee of 500.0 applied.
ACCOUNT NUMBER: 123456789
ACCOUNT HOLDER NAME: Manu Das
ACCOUNT BALANCE: 9500.0